*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 17%, rgba(193,253,45,0.947391456582633) 97%);
}
.heading{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
   

}
.full_page{
    width: 600px;
    background-color: white;
    height: 100vh;
    margin: 100px 0 100px 0;
    border-radius: 10px;
    padding: 30px;
    overflow: auto;
}

#inputbox , #btn{
    padding: 10px;
 border-radius: 5px;
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.wrapper , #output{
    margin: 10px;
}
#btn{
    background-color: blue;
    outline: none;
    border-radius: 10px;
    color: white;
border: none ;}
#btn:hover{
    color: black;
}
p{
    margin: 5px 0;
    font-size: 22px;
    font-weight: 800;
}

p {
    background: #e1ed96;
    opacity: 0.8;
    padding: 5px;
    border-radius: 5px;
    margin: 8px 0;
}
p:hover{
    opacity:1;
    cursor: pointer;
}
p:after{
        content: "âŒ"; 
        float: right;
        font-size: 16px;
        color: red; 
       
}
#clear{
    padding: 10px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
   
}
#clear:hover{
    opacity: 1;
    color: black;
}
.output-header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  
}

@media only screen and (max-width:900px) {
    #output>h1{
        margin-bottom: 50px;
        margin-top: 40px;
    }

    p {
        margin-left: 10px;
    }

    .full_page {
        width: 80%;
    }

    .output-header-box>h2{
     
        justify-content: space-between;

       
    }
    #clear {
        padding: 6px;
    }
    .output-header-box>h2 {
        font-size: 15px;
        
    }

    
   
}